* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

/* sass --watch scss/advance.scss:css/advance.css */
#layout {
  display: grid;
  grid-template-rows: 4rem 3rem auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "top" "semi-top" "center" "footer";
  min-height: 100vh;
  overflow: hidden;
}
#layout .top {
  grid-area: top;
  grid-column: 1/-1;
  display: flex;
  align-items: baseline;
  max-height: 4rem;
  justify-content: center;
}
#layout .top .logo {
  width: 5rem;
  margin-left: 1rem;
  display: none;
}
#layout .top #navbar {
  padding-left: 1rem;
  margin-right: 1rem;
}
#layout .top #navbar #barra_nav {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#layout .advanceT {
  grid-area: semi-top;
  grid-column: 1/-1;
  margin-top: 2rem;
  color: #d93025;
  max-width: 18rem;
  height: 100%;
  font-size: 20px;
  text-align: left;
  padding-left: 1rem;
}

#center {
  grid-area: center;
  grid-column: 1/-1;
}
#center .formulario .row {
  margin-bottom: 1rem;
}
#center .formulario .row #encuentra .title {
  padding-left: 1rem;
}
#center .formulario .row #encuentra .title {
  margin-top: 1rem;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
#center .formulario .row #encuentra hr {
  width: 100%;
}
#center .formulario .container-fluid .row {
  margin-bottom: 1rem;
}
#center .formulario .container-fluid .row .col-2 {
  margin-left: 1rem;
  padding: 0;
}
#center .formulario .container-fluid .row .col-2 .subtitle {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
#center .formulario .container-fluid .row .col {
  display: flex;
  align-items: center;
}
#center .formulario .input-text {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  max-width: fit-content;
}
#center .formulario .input-text:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}

.submit {
  display: flex;
  justify-content: flex-end;
  max-width: 92%;
}
.submit .input-submit {
  user-select: none;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.submit .input-submit:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  border-image: initial;
}

#footer {
  grid-area: footer;
}

@media (min-width: 278px) {
  #center .formulario .input-text {
    max-width: none;
    width: 90%;
  }
}
@media (min-width: 410px) {
  #layout .top .logo {
    display: -webkit-inline-box;
  }
}
@media (min-width: 472px) {
  #layout .top {
    justify-content: space-between;
  }
}

/*# sourceMappingURL=advance.css.map */
