/* sass --watch scss/index.scss:css/index.css */

// default styles:
@forward "_default";

// top style:
@forward "_top.scss";

@use "_mixins" as m;


#layout {
    display: grid;
    grid-template-rows: 20% auto 20%;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "top"
        "center"
        "footer";
    min-height: 100vh;
    overflow: hidden;


    #center {
        grid-area: center;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            max-width: 60%;
            margin-top: 2rem;

        }

        .formulario {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-direction: column;

            .input-text {
                @include m.texto;
            }


            .submits {
                display: flex;
                gap: 0.5rem;

                .input-submit {
                    background-color: #f8f9fa;
                    border: 1px solid #f8f9fa;
                    border-radius: 4px;
                    color: #3c4043;
                    font-family: arial, sans-serif;
                    font-size: 14px;
                    margin: 11px 4px;
                    padding: 0 16px;
                    line-height: 27px;
                    height: 36px;
                    min-width: 54px;
                    text-align: center;
                    cursor: pointer;
                    user-select: none;

                    &:hover {
                        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
                        background-color: #f8f9fa;
                        border: 1px solid #dadce0;
                        border: 1px solid #dadce0;
                        color: #202124;
                    }
                }

            }

        }


    }

    #footer {
        grid-area: footer;
    }

}