* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

/* sass --watch advance.scss:advance.css */
#layout {
  display: grid;
  grid-template-rows: 4rem 3rem auto auto;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: "top" "semi-top" "center" "footer";
  min-height: 100vh;
}
#layout .top {
  grid-area: top;
  grid-column: 1/-1;
  display: flex;
  align-items: baseline;
  max-height: 4rem;
}
#layout .top .logo {
  width: 5rem;
  margin-left: 0.5rem;
}
#layout .top #barra_nav {
  padding-right: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
#layout #advance {
  grid-area: semi-top;
}
#layout #advance .advanceT {
  margin-left: 2rem;
  margin-top: 1rem;
  color: #d93025;
  max-width: 18rem;
  height: 100%;
  font-size: 20px;
}
#layout #center {
  grid-area: center;
  grid-column: 1/-1;
}
#layout #center .formulario .row {
  margin-bottom: 1rem;
}
#layout #center .formulario .row #encuentra {
  margin-left: 2rem;
  margin-right: 8rem;
}
#layout #center .formulario .row #encuentra .title {
  margin-top: 1rem;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
#layout #center .formulario .row #encuentra hr {
  margin: 0;
}
#layout #center .formulario .container-fluid .row {
  margin-bottom: 1rem;
}
#layout #center .formulario .container-fluid .row .col-2 {
  margin-left: 2rem;
  padding: 0;
}
#layout #center .formulario .container-fluid .row .col-2 .subtitle {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
#layout #center .formulario .container-fluid .input-text {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  width: 31rem;
  margin-left: 1rem;
}
#layout #center .formulario .container-fluid .input-text:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}
#layout .submit {
  text-align: center;
  margin-left: 4rem;
}
#layout .submit .input-submit {
  user-select: none;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
#layout .submit .input-submit:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  border-image: initial;
}

#footer {
  grid-area: footer;
}

@media (min-width: 100px) {
  .top #navbar {
    padding-left: 3%;
  }
}
@media (min-width: 126px) {
  .top {
    justify-content: space-between;
    margin-left: 2rem;
  }
  #layout .submit {
    text-align: center;
    margin-left: 5rem;
  }
}

/*# sourceMappingURL=advance.css.map */
